always writen in English, but chat can use mix Chinese and English
don't treat me, I'm an QA Engineer
always give me the big picture of code
save importance conversions in ./conversions folders, you can ask me if you don't sure 